* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

html {
    overflow: hidden;
}

.Calculadora {
    margin: 15px;
    padding: 20px;
    background-color: black;
    border-radius: 20px;
}

.c-button {
    min-width: 80px;
    min-height: 50px;
    padding: 12px;
    margin: 3px;
}