<!DOCTYPE html> 
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./sidebar.css">
	<title>CALCULATOR</title>
</head>
<body>

<header>
	<div class="container">
		<div class="btn-menu">
			<label for="btn-menu" class="icon-menu">☰</label>
		</div>
		<div class="logo">
			<h1>CALCULATORX</h1>
		</div>

		<nav class="barrasuperior">
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Inicio</a>
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">contactos</a>
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">No se que mas</a>
		</nav>
	</div>
</header>

<article>
	
</article>


<aside>
	<input type="checkbox" id="btn-menu">

	<div class="container-menu">
		<div class="cont-menu">

			<div>
			<b>Calculatorx</b>
			</div>

			<nav>
				<a href="">Conversion numerica</a>
				<a href="">Conversor de divisas</a>
                <a href="">Calculadora cientifica</a>
                <a href="">Estadistica</a>
                <a href="">Pensading</a>
                <a href="">Pensanding</a>
                <a href="">Pensanding</a>
			</nav>
			<label for="btn-menu" class="icon-cerrar">✖️</label>
			
		</div>

	</div>

</aside>

</body>
</html>